* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#region Fonts*/
@font-face {
    font-family: 'Harlow Solid Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Harlow Solid Italic'), url('Fonts/HARLOWSI_1.woff') format('woff');
}

/*#endregion*/

.test {
    border: 5px solid red;
}

/*#region Navigation*/

.navbar {
    font-size: 225%;
}

#navigation {
    background-image: url("images/nav-background.png");
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    height: 7%;
    width: 100%;
    border: 2px solid black;
    z-index: 10000;
}

/*#region Nav Links*/

a.navbarlink {
    font-family: 'Agbalumo';
    color: #000;
    text-shadow: #FFF 1px 1px 2px,
                 #FFF -1px -1px 2px,
                 #FFF 1px -1px 2px,
                 #FFF -1px 1px 2px,
                 #FFF 1px 0px 2px,
                 #FFF -1px 0px 2px,
                 #FFF 0px -1px 2px,
                 #FFF 0px 1px 2px;

    padding: 0 20px;
    text-decoration: none;
}
a.navbarlink:hover{
    color: #FFF;
    text-shadow: #000 1px 1px 5px,
                 #000 -1px -1px 5px,
                 #000 -1px 1px 5px,
                 #000 1px -1px 5px,
                 #000 0px 1px 5px,
                 #000 1px 0px 5px,
                 #000 -1px 0px 5px,
                 #000 0px -1px 5px;
}

/*#endregion*/

/*#endregion*/

/*#region Content*/

body {
    width: 100%;
    height: 100%;
}

hr {
    height: 10px;
    border: 0px;
    background-color: #703269;
    background-image: linear-gradient(to right, rgb(129, 0, 0), transparent, rgb(129, 0, 0)), 
    linear-gradient(transparent, rgba(0,0,0,0.55) 150%);
}

.header-text{
    padding-top: 30px;
    text-align: center;
    color: #cc004e;
    text-shadow: #000 10px 10px 25px,
                 #000 -10px 10px 25px,
                 #000 10px -10px 25px,
                 #000 -10px -10px 25px,
                 #000 1px 1px,
                 #000 -1px -1px,
                 #000 -1px 1px,
                 #000 1px -1px,
                 #000 -1px 0px,
                 #000 0px -1px,
                 #000 1px 0px,
                 #000 0px 1px;
    width: 100%;
    font-family: 'Maname', serif;
    font-size: 600%;
}

/*#region Newest Content*/

#newest-content {
    background-image: url("images/new-content-background.png");
    padding: 20px 0 0 0;
    height: 120vh;
}

#new-content-holder {
    display: flex;
    align-content: center;
    justify-content: center;
}

#Super-Paxton-Palace {
    padding: 50px 50px 0 0;
    text-align: center;
    align-self: center;
    vertical-align: middle;
}

#acorn-bounty-trailer {
    padding: 50px 0 0 0;
    text-align: center;
    align-self: center;
    vertical-align: middle;
}

#acorn-bounty-trailer-label {
    display: block;
    color: #00ca5b;
    padding: 0 0 20px 0;
    text-shadow: #007544 3px 3px 2px,
                 #007544 -3px -3px 2px,
                 #007544 -3px 0px 2px,
                 #007544 0px -3px 2px,
                 #007544 3px -3px 2px,
                 #007544 -3px 3px 2px,
                 #007544 0px 3px 2px,
                 #007544 3px 0px 2px;
    letter-spacing: 3px;
    text-align: center;
    font-family: 'Jaini';
    font-size: 325%;
}

#spp-trailer-label {
    display: block;
    color: #f9a7d3;
    padding: 0 20px 20px 0;
    text-shadow: #703269 3px 3px 2px,
                 #703269 -3px -3px 2px,
                 #703269 -3px 0px 2px,
                 #703269 0px -3px 2px,
                 #703269 3px -3px 2px,
                 #703269 -3px 3px 2px,
                 #703269 0px 3px 2px,
                 #703269 3px 0px 2px;
    text-align: center;
    font-family: 'Harlow Solid Italic';
    font-size: 325%;
}
iframe {
    border: 1px solid black;
}

iframe:hover {
    border: 1px solid white;
}

/*#endregion*/

/*#region Meet the Creators*/


#meet-the-creators-justin{
    background-image: url("images/meet-the-creators-background-justin.png");
    text-align: center;
    width: 100%;
    height: 500%;
}

#meet-the-creators-ryan{
    background-image: url("images/meet-the-creators-background-ryan.png");
    text-align: center;
    width: 100%;
    height: 250%;
}

.meet-the-creators-paragraph{
    display: inline-block;
    font-family: 'DM Sans';
    font-size: 250%;
    font-weight: 800;
    color: #cc004e;
    width: 75%;
    padding: 3% 0;
    text-shadow: #000 1px 1px 1px,
                 #000 -1px -1px 1px,
                 #000 1px -1px 1px,
                 #000 -1px 1px 1px,
                 #000 0px -1px 1px,
                 #000 0px 1px 1px,
                 #000 -1px 0px 1px,
                 #000 1px 0px 1px;
}

.meet-the-creators-paragraph span {
    padding: 20px 0;
}

.headshot-img {
    border-radius: 50%;
    border: 4px solid #cc004e;
}

.creator-figure{
    padding: 50px 0 0 0;
    text-align: center;
}

.creator-figure img {
    width: 20rem;
    height: 20rem;
}

.sub-header {
    vertical-align: middle;
    text-align: center;
    font-family: 'Agbalumo';
    font-size: 500%;
    color: #cc004e;
    text-shadow: #000 2px 2px,
                 #000 0px 2px,
                 #000 2px 0px,
                 #000 0px -2px,
                 #000 -2px 0px,
                 #000 -2px -2px;
}

.creator-header-figure-text {
    display: inline-block;
    width: 50%;
    height: 50%;
    vertical-align: middle;
    text-align: center;
}

/*#endregion*/

/*#region Socials*/

#socials{
    background-image: url("images/socials-background.png");
    text-align: center;
    width: 100%;
    height: 200%;
    text-wrap: wrap;
}

#social-figure-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 50px 0;
}

#socials-header {
    padding: 50px 0;
}

#socials figure {
    min-width: 200px;
    display: block;
    text-align: center;
}

#socials img {
    border-radius: 50%;
    border: 5px solid #cc004e;
}

#socials img:hover {
    border: 5px solid #FFF;
}


#socials figcaption {
    font-family: 'Agbalumo';
    font-size: 35px;
    color:#cc004e;
    text-shadow: #000 2px 2px,
                 #000 -2px -2px,
                 #000 -2px 2px,
                 #000 2px -2px,
                 #000 0px 2px,
                 #000 2px 0px,
                 #000 -2px 0px,
                 #000 0px -2px;
}


/*#endregion*/

/*#region Projects*/

#projects{
    background: url("images/projects-background.png");
    text-align: center;
    width: 100%;
    height: 500%;
    text-wrap: wrap;
}

#projects-navigation {
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    width: 100%;
    border: 2px solid black;
}

#projects-navigation-holder {
    padding-top: 3%;
    position: sticky;
    top: 0;
}

#project-list-container{
    padding: 100px 0 0 0;
}

#project-list-container figure {
    padding: 20px 0;
}

#project-list-container a img {
    border: 3px solid #FFF;
}

#project-list-container a img:hover {
    border: 3px solid #cc004e;
}

.project-section {
    padding: 50px 0;
}

.project-nav-header {
    position: absolute;
    left: 2%;
    font-size: 30px;
}

.projects-header {
    padding-top: 40px;
}

.project-sub-header {
    padding-top: 50px;
}

#project-nav-header-paxton {
    color: #f9a7d3;
    text-shadow: #703269 3px 3px 2px,
                 #703269 -3px -3px 2px,
                 #703269 -3px 0px 2px,
                 #703269 0px -3px 2px,
                 #703269 3px -3px 2px,
                 #703269 -3px 3px 2px,
                 #703269 0px 3px 2px,
                 #703269 3px 0px 2px;
    font-family: 'Harlow Solid Italic';
}
#project-nav-header-mhih {
    color: black;
    letter-spacing: 0rem;
    font-family: monospace;
}
#project-nav-header-acorn-bounty {
    color: #1db100;
    text-shadow: #007544 3px 3px 2px,
                 #007544 -3px -3px 2px,
                 #007544 -3px 0px 2px,
                 #007544 0px -3px 2px,
                 #007544 3px -3px 2px,
                 #007544 -3px 3px 2px,
                 #007544 0px 3px 2px,
                 #007544 3px 0px 2px;
    letter-spacing: 3px;
    font-family: 'Jaini';
}

#project-list-container img {
    width: 60%;
    height: 15%;
}

#mhih-project-image-label {
    font-size: 85px;
    font-family: monospace;
    text-shadow: #cc004e 5px 5px 10px;
}

.project-paragraph {
    display: inline-block;
    font-family: 'DM Sans';
    font-size: 25px;
    font-weight: 800;
    color: #cc004e;
    width: 75%;
    padding: 1% 0;
    text-shadow: #000 1px 1px 1px,
                 #000 -1px -1px 1px,
                 #000 1px -1px 1px,
                 #000 -1px 1px 1px,
                 #000 0px -1px 1px,
                 #000 0px 1px 1px,
                 #000 -1px 0px 1px,
                 #000 1px 0px 1px;
}

#enlarged-link{
    color: rgb(0, 201, 0);
    font-size: 150%;
}
#enlarged-link a {
    text-decoration: none;
}

#enlarged-link a:visited{
    color: rgb(0, 201, 0);
}
#enlarged-link a:hover{
    color: white;
}
.project-paragraph h1 {
    vertical-align: middle;
    text-align: center;
}

.trailer-holder iframe {
    margin-top: 2%;
}

.coming-soon-link {
    color: red;
}

.coming-soon-link:visited{
    color: red;
}

.coming-soon-link:hover {
    color: white;
}


/*#endregion*/

#top-link {
    font-size: 200%;
    position: sticky;
    top: 90%;
    z-index: 100;
    height: 0px;
}
#top-link a {
    margin: 35px;
}

/*#endregion*/

/*#region Footer*/

footer {
    position: sticky;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    background-color: crimson;
    border: 1px solid black;
    z-index: 1000;
}

footer b {
    text-align: center;
    vertical-align: middle;
}

footer a {
    color: darkblue;
}

footer a:visited {
    color: darkblue;
}

footer a:hover {
    color: #FFF;
}


#rls-footer-text {
    font-family: 'DM Sans', serif;
    display: inline;
}


/*#endregion*/